/* HOMEPAGE */
/* Shop by Category */
.home-overlay{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*New and Hot Product Cards*/
.product-card{
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img{
    border-bottom: 1px solid #e0e0e0;
}

.product-card .card-brand{
    color: #888;
}

.card-old-price{
    color: #888;
}

.card-discount{
    background-color: red;
    color: white;
}

.add-to-cart-btn{
    background-color: #0d3b66;
    color: #fff;
}

.add-to-cart-btn:hover{
    background-color: #071f36;
}

.view-more-btn{
    background-color: #0d3b66;
    color: #fff;
}

.view-more-btn:hover{
    background-color: #071f36;
}

/*PRODUCT LIST 1 - CATEGORIES*/
/* Dog Title Header */
.dog-category-header{
    background-color: #0d3b66;
    color: white;
}

.category-breadcrumb a{
    color: #0d3b66;
}

/*Icons Section*/
.category-icon{
    background-color: #371B06;
}
.category-icon a{
    color: #fff;
}

/*Shop By*/
.shop-by-style, .shop-by-size{
    background-color: #371B06;
    color: #fff;
}

.shop-by-button{
    background-color: #9E7B60;
}
