/* HOMEPAGE */
.header-links i{
    color: white;
}

/* Header and Nav Bar*/
#main-header{
    background: #062842;
    box-shadow: 5px black;
}

.site-nav{
    background-color: #062842;
}

.site-nav > li > a{
    color: white;
    background-color: #062842;
}

.navbar{
    background-color: #104B79;
}

#navlink:hover{
    color: #000101;
}

#navlist i{
    color: #fff;
}


/* Shop by Category */
.home-overlay{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*New and Hot Product Cards*/
.product-card{
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img{
    border-bottom: 1px solid #e0e0e0;
}

.product-card .card-brand{
    color: #888;
}

.card-old-price{
    color: #888;
}

.card-discount{
    background-color: red;
    color: white;
}

.add-to-cart-btn{
    background-color: #0d3b66;
    color: #fff;
}

.add-to-cart-btn:hover{
    background-color: #071f36;
}

.view-more-btn{
    background-color: #0d3b66;
    color: #fff;
}

.view-more-btn:hover{
    background-color: #071f36;
}

/*Opening Hours*/
.opening-hours{
    background-color: #371B06;
    color: #fff;
}

/*PRODUCT LIST 1 - CATEGORIES*/
/* Dog Title Header */
.dog-category-header{
    background-color: #0d3b66;
    color: white;
}

.category-breadcrumb a{
    color: #0d3b66;
}

/*Icons Section*/
.category-icon{
    background-color: #371B06;
}
.category-icon a{
    color: #fff;
}

/*Shop By*/
.shop-by-style, .shop-by-size{
    background-color: #371B06;
    color: #fff;
}

.shop-by-button{
    background-color: #9E7B60;
}

.product-card a{
    color: black;
}



/* single product */
.single-product .rating .fa{
    color: #FFC44D;
}

.single-product .fa .fa-star-o{
    color: grey;
}

.single-product .fa{
    color: #062842;
    margin-left: 10px;
}


.single-product .col-2 p{
    color: black;
}

.single-product input{
    border: 1px solid #104B79;
}


/* cart items */
.total-price table{
    border-top: 3px solid #D2E2F8;
}

.cart-page th{
    color: #fff;
    background: #D2E2F8;
}

.cart-page td a{
    color: red;
}

/* Check out */
.checkout btncheck{
    background-color: #371B06;
    color: white;
}


.checkout subtotal{
    border: 1px solid white;
}

.checkout subtotal table td{
    border: 1px solid white;
}


.checkout userinfo input{
    border: 1px solid #D2E2F8;
}

.button-backtocart{
border: 2px solid #371B06;
}

.button-purchase{
border: 2px solid #371B06;
}

.col-3 .btn2 a{
    color: #fff;
}


/* Overall */
.btn:hover{
    background: #4D8FE5;
}

.btn2{
background: #371B06;
color: #fff;
}

.btn{
background: #062842;
color: #fff;
}

.rating .fa{
    color: #FFC44D;
}


h4{
    color: black;
}