/* HOMEPAGE */
/* Header */
.logo img{
    width: 68%;
}

.header-links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.header-links li{
    text-decoration: none;
    margin-top: 4%;
}

.header-div{
    position: relative;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
}

.header-iframe{
    border: none;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
}

/* Main Header */
#main-header{
    width: 100%;
    height: 100px;
    position: fixed;
}

.site-nav{
    display: flex;
    padding: .5rem;
}

.site-nav > li > a{
    padding: 5%;
}

.site-nav > li > a{
    color: white;
    background-color: #062842;
    padding: 5%;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 30%;
    float: left;
    text-align: left;
}

/*Navigation Bar*/
.nav-iframe{
    border: none;
    width: 100%;
    position: fixed;
    left: 0px;
}

.navbar{
    width: 100%;
    height: 40px;
}

#navlist{
    float: left;
}

#nav-list-item{
    list-style-type: none;
    display: inline-block;
    justify-content: space-evenly;
    margin-top: 1%;
}

#navlink{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    margin: 30px;
    color: #fff;
}

.nav-div{
    position: relative;
    width: 100%;
    height: 100px;
}

/*Dropdown for Navigation Bar*/
.dropdown-content a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #062842;
    min-width: 100px;
}
#nav-list-item:hover .dropdown-content{
    display: block;
}

/* Main Image */
#main-image{
    width: 80%;
    height: auto;
}

/* Tagline and Icon Row*/
#best-store{
    text-align: center;
    padding: 5%;
}

#icon-row{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-text{
    padding: 2%;
    margin-top: 8%;
}

/* Shop by Category */
.homepage-sub-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
}

.category-container{
    text-align: center;
    width: 100%;
    margin: 3%;
}

.homepage-categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8%;
}

.home-category{
    position: relative;
}

.home-category img{
    width: 100%;
    height: auto;
    display: block;
}

.home-overlay{
    position: absolute;
    bottom: 10%;
    width: 75%;
    text-align: center;
    padding: 10px 0;
}

/* New and Hot Product Cards*/
.product-card-container{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card{
    margin-top: 30px;
    border-radius: 2%;
    padding: 2%;
    width: 18%;
    text-align: center;
    transition: transform 0.3s;
}

.product-card img{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.product-card h4{
    margin-bottom: 3%;
}

.product-card .card-brand{
    margin-bottom: 2%;
}

.product-card .card-price{
    margin-bottom: 2%;
}

.card-old-price{
    text-decoration: line-through;
}

.card-discount{
    padding: 0.8%;
    border-radius: 4px;
}

.add-to-cart-btn{
    border: none;
    padding: 3% 6%;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3;
    margin-top: 8%;
}

.view-more-btn{
    text-decoration: none;
    padding: 0.8%;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5%;
}

/*Coupons*/
.home-coupons{
    width: 20%;
    height: auto;
    margin-left: 2%;
}

/*Opening Hours*/
.visit-store{
    display: inline-flex;
    gap: 2%;
}

.opening-hours{
    width: 80%;
    margin-left: 5%;
    padding: 2%;
    border-radius: 20px;
}

.opening-hours p{
    margin: 2%;
}

.visit-store img{
    width: 40%;
    height: auto;
}

/* Reviews */
.reviews{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reviews img{
    height: 75%
}


/*PRODUCT LIST 1 - CATEGORIES*/
/* Dog Title Header */
.dog-category-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

.dog-category-header .dog-category-image{
    background-image: url('dog.png');
}

.category-breadcrumb{
    text-align: left;
    padding: 1% 1%;
}

.category-breadcrumb a{
    text-decoration: none;
}

.dog-category-image img{
    width: 80%;
    margin-bottom: 0px;
}

/*Icons Section*/
.category-icons-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4%;
    row-gap: 30%;
    padding: 2.5%;
}

.category-icon{
    text-align: center;
    width: 50%;
    padding: 5%;
    border-radius: 10px;
}

.category-icon a{
    text-decoration: none;
}

/* Shop By */
.shop-by{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.shop-by-style, .shop-by-size{
    padding: 2.5%;
    border-radius: 10px;
    text-align: center;
}

.shop-by h2{
    margin: 0 0 5% 0;
}

.shop-by-button{
    padding: 5%;
    border-radius: 5px;
    margin: 5% 0;
}

/* PRODUCT LIST 2 */
.page-turn{
    margin: 3%;
}

.product-card a{
    text-decoration: none;
}

/* single product detail */
.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
}

.single-product .col-2 p{
    align-items: left;
    padding: 50px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

input:focus{
    outline: none;
}


.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* media query for less than 600 screen size (mobile) */
/* need to check our size*/
 /*@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }
 }*/


/* cart items */
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: warp;
}
 
.cart-page th{
    text-align: left;
    padding: 5px;
}


.cart page td{
    padding: 10px 5px;
}

.cart page td input{
    width: 40px;
    height: 10px;
    padding: 5px;
}

.cart-page td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;    
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    width: 100%;
    max-width: 10px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.confirmation img{
    margin-bottom: 20px;
}

.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.confirm-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*Check out Page */
.checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout userinfo{
    width: 50%;
    margin-bottom: 30px;
}

.checkout subtotal h3, 
.checkout userinfo h3{
    padding-bottom: 15px;
}

.checkout userinfo input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
}


.checkout btncheck{
    padding: 12px 20px;
}
.checkout subtotal{
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
}


.checkout subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.checkout subtotal table td{
    width: 50%;
    padding: 10px;
    font-size: 13px;

}

.col-3 .btn2 a{
    text-decoration: none;
}

/* check out page */
.button-purchase{
    display: inline-block;
    padding: 1em;
}

.button-backtocart{
    display: inline-block;
    padding: 1em;
}



/* column and rows for single product details*/

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.col-2 h1{
    line-height: 60px;
    margin: 25px 0;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5)
}

.btn{
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn2{
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}


