/* General Styling*/
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

/* For the Main Header */
#main-header{
    width: 100%;
    height: 100px;
    background: #062842;
    position: fixed;
}

.site-nav{
    display: flex;
    padding: .5rem;
    /* this could be removed */
    background-color: #062842;
}

.site-nav > li > a{
    color: white;
    background-color: #062842;
    padding: 1rem;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 30%;
    float: left;
    text-align: left;
}

/* add image with left align for location */
.float-left{
    float: left
}

/* confirmation page */
.text-title{
    font-size: xxx-large;
}

.text-content{
    font-size: xx-large;
}

.cover{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cover > content{
    margin-top: auto;
    margin-bottom: auto;
}

.center{
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width:  60ch;
}

.stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    --space: 1rem;
    height: 100%
}

.stack > * + * {
    margin-top: var(--space);
}

.stack > :nth-last-child(1){
    margin-top: 5rem;
}


/* check out page */
.button-purchase{
    display: inline-block;
    border: 2px solid #371B06;
    padding: 1em;
    text-transform: uppercase;
    font-family: Inter;
    letter-spacing: 3px;
    text-align: center 
}

.button-backtocart{
    display: inline-block;
    border: 2px solid #371B06;
    padding: 1em;
    text-transform: uppercase;
    font-family: Inter;
    letter-spacing: 3px;
    text-align: center;
}
