@import url(colours.css);
@import url(typography.css);
@import url(layout.css);

/* General Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* this could be deleted */
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Main Header */
#main-header{
    width: 100%;
    height: 100px;
    background: #062842;
    position: fixed;
    box-shadow: 5px black;
}

.site-nav{
    display: flex;
    padding: .5rem;
    /* this could be removed */
    background-color: #062842;
}

.site-nav > li > a{
    color: white;
    background-color: #062842;
    padding: 1rem;
}

.site-nav{
    display: flex;
    padding: .5rem;
    /* this could be removed */
    background-color: #062842;
}

.site-nav > li > a{
    color: white;
    background-color: #062842;
    padding: 1rem;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 30%;
    float: left;
    text-align: left;
}

/*Navigation Bar*/
.navbar{
    width: 100%;
    height: 50px;
    background-color: #104B79;
}
#navlist{
    float: left;
}
#nav-list-item{
    list-style-type: none;
    display: inline-block;
    padding: 16px;
}
#navlink{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    margin: 30px;
    color: #fff;
}
#navlink:hover{
    color: #000101;
}

/*Dropdown for Navigation Bar*/
.dropdown-content a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #062842;
    min-width: 100px;
}
#nav-list-item:hover .dropdown-content{
    display: block;
}

/* add image with left align for location */
.float-left{
    float: left
}

/* column and rows for single product details*/

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.col-2 h1{
    line-height: 60px;
    margin: 25px 0;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5)
}

.btn{
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn2{
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}



/* check out page */
.button-purchase{
    display: inline-block;
    padding: 1em;
}

.button-backtocart{
    display: inline-block;
    padding: 1em;
}


/* single product detail */
.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
}

/*I would like to change <p>tag to be normal not bold */
.single-product .col-2 p{
    align-items: left;
    padding: 50px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

input:focus{
    outline: none;
}


.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* media query for less than 600 screen size (mobile) */
/* need to check our size*/
 /*@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }
 }*/


/* cart items */
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: warp;
}
 
.cart-page th{
    text-align: left;
    padding: 5px;
}


.cart page td{
    padding: 10px 5px;
}

.cart page td input{
    width: 40px;
    height: 10px;
    padding: 5px;
}

.cart-page td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;    
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    width: 100%;
    max-width: 10px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}



/* for confrimation page */
/*body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}*/

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.confirmation img{
    margin-bottom: 20px;
}

.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.confirm-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*Check out Page */
.checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout userinfo{
    width: 50%;
    margin-bottom: 30px;
}

.checkout subtotal h3, 
.checkout userinfo h3{
    padding-bottom: 15px;
}

.checkout userinfo input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
}


.checkout btncheck{
    padding: 12px 20px;
}
.checkout subtotal{
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
}


.checkout subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.checkout subtotal table td{
    width: 50%;
    padding: 10px;
    font-size: 13px;

}

